Repository appuio/appuio-io-docs, pull requests merged in 2022-02, with the labels that each got.

#102 Add requirement for creating namespace while authenticated with a ServiceAccount token
  docs/modules/ROOT/pages/references/quality-requirements/usability/create-ns-with-serviceaccount.adoc
  docs/modules/ROOT/partials/nav-reference.adoc
Labels: requirement/quality

#103 Add quality requirement for creating OpenShift projects
  docs/modules/ROOT/pages/references/quality-requirements/usability/create-ns-with-oc-new-project.adoc
  docs/modules/ROOT/partials/nav-reference.adoc
Labels: requirement/quality

#104 Add requirement that all user namespaces belong to an organization
  docs/modules/ROOT/pages/references/quality-requirements/functional/namespace-organization.adoc
  docs/modules/ROOT/partials/nav-reference.adoc
Labels: requirement/quality

#105 Add requirement that user's organization is granted admin in new namespaces
  docs/modules/ROOT/pages/references/quality-requirements/usability/ns-organization-rbac.adoc
  docs/modules/ROOT/partials/nav-reference.adoc
Labels: requirement/quality

#107 Use Keycloak username for Control API users instead of ID
  docs/modules/ROOT/pages/references/architecture/control-api-org.adoc
  docs/modules/ROOT/pages/references/architecture/control-api-team.adoc
  docs/modules/ROOT/pages/references/architecture/control-api-user.adoc
Labels: decision

#108 Update portal dns name from `my.appuio.cloud` to `portal.appuio.cloud`
  docs/modules/ROOT/pages/explanation/system/details-ui.adoc
  docs/modules/ROOT/pages/references/dns-naming-scheme.adoc
Labels: change

#109 Add page referring to the appuio-cloud Commodore component Kyverno policy documentation
  docs/modules/ROOT/pages/explanation/kyverno-policies.adoc
  docs/modules/ROOT/partials/nav-explanation.adoc
Labels: change

#111 Add documentation on decision about the Keycloak Adapter
  docs/modules/ROOT/pages/explanation/decisions/keycloak-adapter.adoc
  docs/modules/ROOT/partials/nav-explanation.adoc
Labels: decision
